@model FavoriteTeamModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Select Teams</h2>
<form method="post">
    <div class="form-container">
        <label class="right-padding" for="selectedSport">Select a sport:</label>
        <select class="right-padding" id="selectedSport" name="SelectedSportId" asp-for="SelectedSportId">
            <option value="">Select a supported sport</option>
            @foreach (var sport in Model.Sports)
            {
                <option value="@sport.Id">@sport.Name</option>
            }
        </select>

        <label class="right-padding" for="numberOfDays"># of days:</label>
        <input class="right-padding" type="number" id="numberOfDays" name="numberOfDays" asp-for="NumberOfDays" />

        <label class="right-padding" for="favoriteTeam">Enter favorite teams abbreviation (ex: MIN):</label>
        <input class="right-padding" type="text" id="favoriteTeam" name="FavoriteTeam" asp-for="FavoriteTeam" />

        <input class="right-padding" type="submit" value="Add" />

        @if (Model.FavoriteTeams.Any() && !Model.Errors.Any())
        {
            <input type="button" value="Reset" onclick="location.href='@Url.Action("Reset", "Home")'" />
        }
    </div>
</form>

<br />

@if (Model.FavoriteTeams.Any())
{
    if (Model.Errors.Any())
    {
        foreach (var error in Model.Errors)
        {
            <span style="font-weight: bold">@error</span>
            <br />
        }
        <br />
    }

    if (Model.Events.Count == 0 && !Model.Errors.Any())
    {
        <h1 style="text-decoration: underline; color: yellow; background-color: black; padding: 10px; text-align: center">It is reccomended to add additional sports</h1>
        <br />
    }

    <table>
        <tr>
            <th>Sport</th>
            <th>Favorite Team</th>
        </tr>
        @foreach (var item in Model.FavoriteTeams)
        {
            <tr>
                <td>@Model.Sports.Find(s => s.Id == item.Key)?.Name</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>

    <br />
}

@if (Model.Events.Any())
{
    <span>Count: </span> @Model.Events.Count
    <br />
    <table>
        <tr>
            <th>Competition A</th>
            <th>Competition B</th>
            <th>Location A</th>
            <th>Location B</th>
            <th>Date A</th>
            <th>Date B</th>
            <th>Approx Distance</th>
        </tr>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>@item.CompetitionA</td>
                <td>@item.CompetitionB</td>
                <td>@item.LocationA</td>
                <td>@item.LocationB</td>
                <td>@item.DateTimeA</td>
                <td>@item.DateTimeB</td>
                <td>@item.Distance</td>
            </tr>
        }
    </table>
}